@use "../vendors/bootstrap.4-5-0.min.css";
@use "../utils/colors";
@use "../utils/mixins";
@import url('https://fonts.googleapis.com/css?family=Oswald|Playfair+Display&display=swap');

/* ------ GENERAL ----- */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
   
body, html{
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

a,h1,h2,h3,h4,h5,h6, button{
  @include mixins.fontTitre('Oswald', sans-serif);
}

a{
  text-decoration: none !important;
}

p, #copyright{
  @include mixins.fontTitre('Playfair Display', sans-serif);
}